<h2>Welcome to MyBudget Angular</h2>

<form [formGroup]="loginForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="">Email</label>
    <input type="text" class="form-control" formControlName="email">
  </div>

  <div class="form-group">
    <label for="">Password</label>
    <input type="password" class="form-control" formControlName="password">
  </div>

  <div class="form-group">
    <div class="btn-group">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!loginForm.valid">
        Log In
      </button>
      <!-- <button type="button" class="btn btn-link">Sign Up</button> -->
    </div>
  </div>
</form>

<div class="row" *ngIf="errorMsg">
  <div class="col-12">
    <div class="alert alert-danger">
      <h2>An error ocurred trying to login</h2>
    </div>
  </div>
</div>