<budget-layout>
  <section body>
    <h2 class="ui center aligned header">{{ title }}</h2>

    <form
      class="ui form"
      [ngClass]="{'loading': isLoading}"
      [formGroup]="loginForm"
      (submit)="onSubmit()"
    >
      <div class="ui segment">
        <budget-input
          [config]="formInputs.email"
          formControlName="email">
        </budget-input>
        
        <budget-input
          [config]="formInputs.password"
          formControlName="password">
        </budget-input>
      </div>

      <button
        type="submit"
        class="ui fluid primary button"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>

      <button
        type="button"
        class="ui violet tertiary button sign-up-button"
        [routerLink]="signUpLink"
      >
        Or you can Sign up
      </button>
    </form>
      
    <budget-message
      *ngIf="errorMsg"
      [message]="errorMsg"
      (onClose)="closeMessage()">
    </budget-message>
  </section>
</budget-layout>