<budget-layout>
  <section body>
    <budget-title
      [title]="title"
    ></budget-title>
    
    <form 
      class="ui form"
      *ngIf="updateForm"
      [ngClass]="{ 'loading': isLoading }"
      [formGroup]="updateForm"
      (submit)="onSubmit()"
    >
      <section class="ui segment">
        <budget-input
          [config]="formInputs.name"
          formControlName="name">
        </budget-input>

        <budget-input
          [config]="formInputs.lastName"
          formControlName="lastName">
        </budget-input>

        <budget-button-or
          (clickFirst)="onSubmit()"
          (clickSecond)="cancelUpdate()"
        ></budget-button-or>
      </section>
    </form>
  </section>
</budget-layout>