main.ui.one.column.centered.grid {
  section.column.name-column {
    margin: 35px 0 25px 0;
    text-align: center;

    p {
      margin: 0;
    }
  }

  section.column {
    article.ui.cards {
      justify-content: center;
    }
  }
}
